
#backend
media
samples
todo.md

.env
.env.local
.env.*.local
*.pem

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

git
.venv/

*.sqlite3


.vscode/


#frontend
*.log
npm-debug.log*
node_modules
dist
build
.pnp
.pnp.js
.vscode/

.cache
.vite

logs
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?