[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
dj-rest-auth = "*"
pillow = "*"
django-allauth = {extras = ["google"], version = "*"}
requests = "*"
cryptography = "*"
django-autoslug = "*"
django-ordered-model = "*"
drf-nested-routers = "*"
django-extensions = "*"
celery = "*"
razorpay = "*"
setuptools = "*"
redis = "*"
channels = "*"
channels-redis = "*"
uvicorn = "*"
boto3 = "*"
django-storages = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dev = "python manage.py runserver"
cmddev = "cmd /c \"python manage.py makemigrations && python manage.py migrate && python manage.py runserver\""
shdev = "sh -c 'python manage.py makemigrations && python manage.py migrate && python manage.py runserver'"